#######################################
# Makefile generated
#######################################
build/
*.hex
*.elf

#######################################
# Teensy loader
#######################################
tools/teensy_loader_cli/

#######################################
# ViM swap file
#######################################
*.swp

#######################################
# Others that may be lying around
#######################################
*.diff
*.txt
out

#######################################
# Mac OS folder attributes file
#######################################
.DS_Store
